Package: com.iosdump.neofont
Name: NeoFont
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: iOS 14-17+ 免挂载修改系统字体
Maintainer: iosdump
Author: iosdump
Section: Tweaks
