<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>全局开关</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.iosdump.neofont</string>
            <key>key</key>
            <string>Enabled</string>
            <key>label</key>
            <string>启用 NeoFont</string>
        </dict>
        
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>字体管理</string>
            <key>footerText</key>
            <string>支持导入 .ttf / .otf / .ttc 单文件</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>文件导入字体</string>
            <key>action</key>
            <string>importFontAction</string>
        </dict>
        
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>字体配置</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>default</key>
            <string></string>
            <key>defaults</key>
            <string>com.iosdump.neofont</string>
            <key>key</key>
            <string>CustomFont</string>
            <key>label</key>
            <string>常规字体</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>default</key>
            <string></string>
            <key>defaults</key>
            <string>com.iosdump.neofont</string>
            <key>key</key>
            <string>CustomBoldFont</string>
            <key>label</key>
            <string>粗体变体</string>
        </dict>
        
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>应用操作</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>点我生效(第一次不生效再重复点一次）</string>
            <key>action</key>
            <string>respringAction</string>
        </dict>
    </array>
    <key>title</key>
    <string>NeoFont</string>
</dict>
</plist>
